body {
	background-color: #6699CC;
}
#content {
	background-color: #99FFFF;
	padding: 5px;
	margin: 0;
}
#content1 {
	width: 85%;
}
img {
	display: inline-block;
}
#info {
	display: inline-block;
    vertical-align: top;
}
#banners,
#news {
	display: inline-block;
	vertical-align: top;
}
#banner1,
#banner2,
#banner3 {
	margin: 0 0 2px 0;
}
h2 {
	text-align: center;
    margin: 0;
}
