.container {
    margin:0 auto;
}

.container,
.header,
.menu {
    background-color: #6699cc;
    width: 100%;
    height: auto;
}

.cont {
    background-color: #99ffff;
    clear: both;
}

.logo {
    height: 167px;
    padding: 5px;
}

.logo img {
    margin-right: 15px;
}

h1 {
    color: aliceblue;
    padding-top: 20px;
}

.menu {
    padding: 5px;
}

.menu .btn {
    float: left;
    background-color: #ffff99;
    margin-right: 3px;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
