@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {

    text-decoration: none;
}


body {
    font-family: Josefin Sans;
    color: black;
    width: 100%;
}

.header {
    background-color: chartreuse;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
}

.header h1 {
    padding-bottom: 10px;
}

.nav {
    background-color: coral;
    width: 100%;
}

.menu {
    width: 60%;
    margin: 0 auto;
    display: flex;
}

.menu a {
    color: darkslategrey;
    text-decoration: none;
    padding: 15px 20px;
}

.menu a:hover {
    background-color: darkblue;
    color: coral;
}

.content {
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;
}

.clear {
    clear: both;
}

.row_text h1 {
    float: left;
    margin-right: 20px;
}

.row_text h3 {
    color: gray;
    padding-top: 10px;
}

hr {
    margin-top: 5px;
    margin-bottom: 20px;
}

.cartochki {
    display: flex;
    flex-wrap: wrap;
}

.row_text {
    padding-top: 25px;
}

.row-text1 {
    flex: 30%;
    border: 1px solid gray;
    overflow: auto;
}

.row-text1:first-child {
    margin-right: 5px;
}

.row-text1:last-child {
    margin-left: 5px;
}

.row-text1_img {
    width: 100%;
}

.row-text1_text {
    padding: 20px 15px;
}

.row-text1_text h4 {
    color: chartreuse;
    margin-bottom: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.row-text1_text p {
    height: 80px;
    overflow: hidden;
    font-size: 13px;
    line-height: 1.3em;
    margin-bottom: 15px;
}

.btn {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    width: 112px;
}

.btn:hover{
    background-color: rebeccapurple;
    color: aliceblue;
}

.footer {
    background-color: chartreuse;
    color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.footer p {
    width: 60%;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .row-text1 {
        flex: 40%;
        margin-bottom: 15px;
    }

    .row-text1_text p {
        height: 80px;
        font-size: 16px;
        line-height: 1.3em;
    }

    .row-text1_text h4 {
        font-size: 20px;

    }

    .menu a {
        font-size: 20px;
    }

    .menu a:hover {
        background-color: rebeccapurple;
    }

    .row-text1:first-child {
        margin-right: 5px;
    }

    .row-text1:last-child {
        margin-left: 0;
    }

}

@media only screen and (max-width: 425px) {
    .wrapper {
        font-size: 80%;
        width: 100%;
        margin: 0 auto;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 100%;
        padding: 20px;
    }

    .cartochki {
        display: block;
    }

    .row-text1:first-child {
        margin-right: 0;
    }

    .row-text1:last-child {
        margin-left: 0;
    }
    .row_text h1 {
    float: none;
    margin-right: 0;
}
    .btn {
        font-size: 1.3em;
        width: 120px;
    }
    .footer p{
        font-size: 16px ;
        width: 100%;
        margin: 0 20px;
   }

}
